# nyc test coverage
.nyc_output

# Dependency directory
node_modules

# Build Files
build

# Npm package lock file
package-lock.json


# Seeders
src/database/seeders

# tests
src/tests
# Migrations
/src/database/migrations
# tests
src/tests

# Database Models
src/database/models

#Dist
dist
lib